//
//  Product-Release.xcconfig
//  Finda
//
//  Created by mincheol on 2023/05/15.
//  Copyright © 2023 Finda. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Project-Shared.xcconfig"

EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
PRODUCT_BUNDLE_IDENTIFIER = com.moiver
